# Исключаем node_modules, так как они будут установлены заново в контейнере
node_modules

# Исключаем директорию сборки
dist

# Исключаем файлы логов
*.log

# Исключаем временные файлы и директории
tmp
temp
*.tmp
*.temp

# Исключаем файлы и директории IDE
.vscode
.idea

# Исключаем файлы и директории операционной системы
.DS_Store
Thumbs.db

# Исключаем файлы конфигурации линтеров и форматтеров
.prettierrc
.prettierignore
.eslintrc
.eslintignore

# Исключаем файлы документации
README.md

# Исключаем файлы и директории системы контроля версий
.git
.gitignore