chatbot-editor.ddns.net {
    reverse_proxy /api/* backend:8080
    reverse_proxy /auth/* backend:8080
    reverse_proxy /user/* backend:8080
    reverse_proxy /projects backend:8080
    reverse_proxy /projects/* backend:8080
    reverse_proxy /socket.io/* backend:8080
    reverse_proxy /yjs yjs-websocket:1234
    reverse_proxy /yjs/* yjs-websocket:1234
    reverse_proxy /* frontend:3000
}

localhost {
    tls internal
    reverse_proxy /api/* backend:8080
    reverse_proxy /auth/* backend:8080
    reverse_proxy /user/* backend:8080
    reverse_proxy /projects backend:8080
    reverse_proxy /projects/* backend:8080
    reverse_proxy /socket.io/* backend:8080
    reverse_proxy /yjs yjs-websocket:1234
    reverse_proxy /yjs/* yjs-websocket:1234
    reverse_proxy /* frontend:3000
}