{
    auto_https off
}

http://chatbot-editor.ddns.net {
    reverse_proxy /api/* backend:8080
    reverse_proxy /socket.io/* backend:8080
    reverse_proxy /* frontend:3000
}

https://chatbot-editor.ddns.net {
    reverse_proxy /api/* backend:8080
    reverse_proxy /socket.io/* backend:8080
    reverse_proxy /* frontend:3000
}
